<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,
	internal-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>positive affirmations only.</title>
</head>
<body>
	<div class="container">
		<h1 class="my-4">
			<center>positive affirmations only.</center>
		</h1>
		<h6 class="mb-4">
			<center>your personal space for uplifting notes and affirmations.</center>
		</h6>
		<div>
			<center>
				<a href="/articles/new" class="btn btn-success">
					<center>new affirmation post</center>
				</a>
			</center>
		</div>
		<% articles.forEach(article => { %>
			<div class="card mt-4">
				<center>
				<div class="card-body">
					<h4 class="card-title"><%= article.title %></h4>
					<div class="card-subtitle text-muted mb-2">
						<%= article.createdAt.toLocaleDateString() %>
					</div>
					<div class="card-text mb-2"><%= article.description %></div>
					<a href="articles/<%= article.slug %>" class="btn btn-primary">read more</a>
					<form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
						<button type="submit" class="btn btn-danger">delete</button>
					</form>
				</center>
			</div>
				
			</div>
		<% }) %>
	</div>
</body>
</html>